div {
    box-shadow: 0px 0px 10px rgba(6, 165, 239, 0.25), 0 6px 6px rgba(6, 165, 239, 0.25);
    margin-top: 200px;
    border-radius:20px;
    font-family: 'Titillium Web', sans-serif;
    background-color: whitesmoke;
    border-color: grey;
    
}
::placeholder {
    opacity:0.5}
    
    label {
        border-radius: 20px;
        
    }
    body {
        background-color:green;
    }
    button:hover {
    cursor: pointer;
    opacity:0.5;

    }
    button {
        border-radius: 30px;
        width:200px;
    }