div {
    text-align: left;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  width:1000px;
  font-size: 20px;
}
.topics{
 display:flex;
 justify-content: space-around;
}
.huh {
    width:100%;
   justify-content: space-around;
   display:flex;
   
    height:fit-content;
    

}
.blog1 {
    margin-left: 100px;
    text-align:center;

}
.blog2 {
    margin-left: 100px;
    text-align:center;

}
.blog3 {
    margin-left: 100px;
    text-align:center;

}
.blog4 {
    margin-left: 100px;
    text-align:center;

}
.button:hover{
    opacity: 0.5;
    cursor: pointer;
}
h3:hover {
    cursor:pointer;
    color:rgb(5, 67, 167);
}
.endofpage {
    background-color: rgb(236, 230, 230);
    height:200px;}